body {
    background: rgb(88, 85, 85);
    font-family: 'Patua One', cursive;
}

:root {
    --backgroundeffect: linear-gradient(90deg, #1d1594, #7f5a83, #292285, #432285);
    --backgroundsize: 800% 800%;
    --textcolor: white;
}

.nav-wrapper {
    background: var(--backgroundeffect);
    background-size: var(--backgroundsize);
    animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
.sidenav {
    background: rgb(88, 85, 85);

}
.sidenav li a {
    color: var(--textcolor);
}
.sidenav li a i {
    color: var(--textcolor);
}
.card {
    background: var(--backgroundeffect);
    background-size: var(--backgroundsize);
    animation: AnimationName 15s ease infinite;
}

.card .card-reveal {
    background-color: rgb(88, 85, 85);
    color: var(--textcolor);
}

.card .card-title {
    color: var(--textcolor);
}

.card .card-title:hover {
    color: lightgray
}

.card p {
    color: var(--textcolor);
}

.brand-logo {
    margin-left: 5px;
}

.btn {
    background: var(--backgroundeffect);
    background-size: var(--backgroundsize);
    animation: AnimationName 15s ease infinite;
    color: var(--textcolor);
    margin-top: 10px;
}
.btn:hover {
    color: rgb(88, 85, 85);;
}

.collapsible-header {
    background: var(--backgroundeffect);
    background-size: var(--backgroundsize);
    animation: AnimationName 15s ease infinite;
    color: var(--textcolor);
}

.collapsible-header:hover {
    color: rgb(88, 85, 85);;
}

.page-footer {
    background: var(--backgroundeffect);
    background-size: var(--backgroundsize);
    animation: AnimationName 15s ease infinite;
    color: var(--textcolor);
}

.footer-text {
    text-align: center;
}

.footer-text ul li a{
    font-size: 15px;
    color: var(--textcolor);
}

.footer-text a:hover {
    color: rgb(88, 85, 85);
}

